# Map Function

The map() function applies a given function to all items in an input list or any other iterable and returns a map object i.e. an iterator.
This is particularly useful for transforming data in a list comprehensively.

#### **Syntax:**

map(function,list of parameters)

In [4]:
def square(x):
    return x*x

square(10)

100

For a list of numbers, in above function a for loop would be used to iterate over all elements of the list and return the list of squares.

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]


print(map(square, numbers)) #returns a iterable
#convert the map to a list
print(list(map(square, numbers)))

<map object at 0x0000026A61E54E80>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

lambda function used with map

In [8]:
list(map(lambda x: x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Map multiple iterables

In [9]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]

addedNumbers = list(map(lambda x,y: x+y, numbers1, numbers2))
print(addedNumbers)

[7, 9, 11, 13, 15]

#### Convert a list of strings to integers

In [12]:
stringNumbers = ['1','2','3','4','5','6','7','8','9','10']

intNumbers = list(map(lambda x:int(x), stringNumbers))
print(intNumbers)

#alternatively can also be written as
integerNum = list(map(int, stringNumbers))
print(integerNum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Apply in-built functions using map

In [14]:
words = ['apple', 'banana', 'cherry', 'kiwi']

upperCaseWord = list(map(str.upper, words))
print(upperCaseWord)

['APPLE', 'BANANA', 'CHERRY', 'KIWI']

In [16]:
getName = lambda person: person['name']

people = [
          {"name": "Hello", "age": 25, "height": 70, "city": "New York"},
          {"name": "World", "age": 25, "height": 23, "city": "New Jersey"}
         ]

getAllNames = list(map(getName, people))
print(getAllNames)

['Hello', 'World']